@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'IntegralCF';
  src: url('./fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-integralcf {
  font-family: 'IntegralCF', sans-serif;
}

.gradiant-btn {
  background:
    linear-gradient(#000000 0 0) padding-box,
    linear-gradient(180deg, #BFF816, #243000) border-box;
  border: 1px solid transparent;
  display: inline-block;
}

.live-anim {
  width: 7px;
  height: 7px;
  background-color: #FF0000;
  border-radius: 100%;
  animation-name: live-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes live-animation {
  0% {
    background-color: #FF0000;
  }
  50% {
    background-color: #551a1a;
  }
  100% {
    background-color: #FF0000;
  }
}

.progress{
  position: relative;
  margin: 4px;
  float:left;
  text-align: center;
}

.barOverflow{
  position: relative;
  overflow: hidden;
  width: 66px; height: 33px;
  margin-bottom: -16px;
}
.bar{
  position: absolute;
  top: 0; left: 0;
  width: 66px; height: 66px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid #eee;
}